*background: #272316
*foreground: #ebe0bb

*color0:  #272316
*color8:  #856A5D

*color1:  #B33951
*color9:  #CC005C

*color2:  #C1C544
*color10: #acbb4f

*color3:  #EC9F05
*color11: #FBB323

*color4:  #48B8D0
*color12: #7DCCDE

*color5:  #F76F8E
*color13: #BC4E78

*color6:  #65F69C
*color14: #8BF8B5

*color7:  #665E52
*color15: #ebe0bb
